:root {
    --primary-bg: #212121;
    --secondary-bg: #181818;
    --white: #fff;
}

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--primary-bg);
    font-family: 'Inter', sans-serif;
    color: var(--white);
}

header {
    background-color: var(--secondary-bg);
    text-align: center;
    padding: 1rem 0;
    user-select: none;
}

h1 {
    padding-bottom: 1rem;
}

.weapons-container {
    display: flex;
    justify-content: space-evenly;
    padding: 3rem 0;
    gap: 1rem;
    flex-wrap: wrap;
}

.weapons-container button {
    width: 10rem;
    height: 10rem;
    background-color: #424242;
    color: #000;
    border: none;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.4);
    transition: transform 0.15s ease, box-shadow 0.15s ease, background-color 0.2s ease;
}

.weapons-container button:hover {
    background-color: #696969;
    transform: translateY(-2px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6);
    color: #FFF;
    cursor: pointer;
}

button.active-weapon {
    background-color: #696969;
    transform: translateY(-2px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6);
    color: #FFF;
    cursor: pointer;
    border: 3px gold solid;
}

.weapons-container button:active {
    transform: translateY(1px);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}

.weapons-container i {
    font-size: 5rem;
}

.weapons-container p {
    padding-top: 0.5rem;
}

.output-container {
    max-width: 50%;
    border: 5px #424242 solid;
    border-radius: 10px;
    margin: 2rem auto;
    display: flex;
}

.computer-choice-container {
    padding: 1rem;
    text-align: center;
    border-right: 5px #424242 solid;
}

.computer-choice-container i {
    font-size: 5rem;
    margin-top: 1.5rem;
}

.status-container {
    padding: 1rem;
    line-height: 2.5rem;
}

.results-container {
    text-align: center;
    display: none;
}

#result {
    font-family: "Press Start 2P", sans-serif;
    font-size: clamp(1.5rem, 7vw, 3rem);
}

#play-again-btn {
    margin: 2rem;
    padding: clamp(1rem, 1vw, 2rem) clamp(1rem, 2vw, 2rem);
    font-size: clamp(1rem, 2vw, 1.5rem);
    background-color: #424242;
    border: 3px #181818 solid;
    border-radius: 10px;
}

#play-again-btn:hover {
    background-color: #696969;
    cursor: pointer;
}

@media screen and (max-width: 850px) {
    .output-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .computer-choice-container {
        border: none !important;
    }

    .status-container {
        text-align: center;
    }
}